In [27]:
# script
import pandas as pd

df_user_details = pd.read_csv('/home/arsun/projects/AnimeReview-BLG317/data/archive/users-details-2023.csv')

In [28]:
df_user_details

,Mal ID,Username,Gender,Birthday,Location,Joined,Days Watched,Mean Score,Watching,Completed,On Hold,Dropped,Plan to Watch,Total Entries,Rewatched,Episodes Watched
0,1,Xinil,Male,1985-03-04T00:00:00+00:00,California,2004-11-05T00:00:00+00:00,142.3,7.37,1.0,233.0,8.0,93.0,64.0,399.0,60.0,8458.0
1,3,Aokaado,Male,NaN,"Oslo, Norway",2004-11-11T00:00:00+00:00,68.6,7.34,23.0,137.0,99.0,44.0,40.0,343.0,15.0,4072.0
2,4,Crystal,Female,NaN,"Melbourne, Australia",2004-11-13T00:00:00+00:00,212.8,6.68,16.0,636.0,303.0,0.0,45.0,1000.0,10.0,12781.0
3,9,Arcane,NaN,NaN,NaN,2004-12-05T00:00:00+00:00,30.0,7.71,5.0,54.0,4.0,3.0,0.0,66.0,0.0,1817.0
4,18,Mad,NaN,NaN,NaN,2005-01-03T00:00:00+00:00,52.0,6.27,1.0,114.0,10.0,5.0,23.0,153.0,42.0,3038.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731285,1291083,Dolopa,NaN,NaN,NaN,2012-05-06T00:00:00+00:00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731286,1291085,alenrobnik,NaN,NaN,NaN,2012-05-06T00:00:00+00:00,21.4,8.22,16.0,58.0,9.0,1.0,42.0,126.0,0.0,1239.0
731287,1291087,Oblongata,NaN,1993-01-30T00:00:00+00:00,NaN,2012-05-06T00:00:00+00:00,51.3,7.53,38.0,175.0,0.0,9.0,211.0,433.0,2.0,3010.0
731288,1291091,Etnota,NaN,NaN,NaN,2012-05-06T00:00:00+00:00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731289,1291097,JuunanaSai,Female,NaN,NaN,2012-05-06T00:00:00+00:00,3.7,9.67,1.0,11.0,0.0,0.0,2.0,14.0,0.0,222.0

In [29]:
table_1 = df_user_details[['Mal ID', 'Username']]
table_1["user_id"] = table_1["Mal ID"]

table_1.drop(columns=['Mal ID'], inplace=True)

table_1.to_csv('/home/arsun/projects/AnimeReview-BLG317/data/processed/users.csv', index=False)

/tmp/ipykernel_9197/1072462606.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_1["user_id"] = table_1["Mal ID"]
/tmp/ipykernel_9197/1072462606.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_1.drop(columns=['Mal ID'], inplace=True)

In [ ]:
# table 2 Anime Information
df_anime_information = pd.read_csv('/home/arsun/projects/AnimeReview-BLG317/data/archive/anime-dataset-2023.csv')

df_anime_information = df_anime_information.rename({'Name': 'anime_name',
                                                     'English name': 'english_name',
                                                     "Other name": 'other_name',
                                                    "Synopsis": "synopsis",
                                                    "Type": "type_anime"}, axis='columns')

df_anime_information = df_anime_information[['anime_id', 'anime_name', 'english_name', 'other_name', 'synopsis', 'type_anime']]

df_anime_information.to_csv('/home/arsun/projects/AnimeReview-BLG317/data/processed/anime_information.csv', index=False)

,anime_id,anime_name,english_name,other_name,synopsis,type_anime
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,"Crime is timeless. By the year 2071, humanity ...",TV
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,"Another day, another bounty—such is the life o...",Movie
2,6,Trigun,Trigun,トライガン,"Vash the Stampede is the man with a $$60,000,0...",TV
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),Robin Sena is a powerful craft user drafted in...,TV
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,It is the dark century and the people are suff...,TV
...,...,...,...,...,...,...
24900,55731,Wu Nao Monu,UNKNOWN,无脑魔女,No description available for this anime.,ONA
24901,55732,Bu Xing Si: Yuan Qi,Blader Soul,捕星司·源起,No description available for this anime.,ONA
24902,55733,Di Yi Xulie,The First Order,第一序列,No description available for this anime.,ONA
24903,55734,Bokura no Saishuu Sensou,UNKNOWN,僕らの最終戦争,A music video for the song Bokura no Saishuu S...,Music
24904,55735,Shijuuku Nichi,UNKNOWN,四十九日,A music video for the song Shijuuku Nichi by S...,Music