In [17]:
import pandas as pd

In [18]:
# script
import pandas as pd

df_user_details = pd.read_csv('/home/arsun/projects/AnimeReview-BLG317/data/archive/users-details-2023.csv')

In [19]:
df_user_details

,Mal ID,Username,Gender,Birthday,Location,Joined,Days Watched,Mean Score,Watching,Completed,On Hold,Dropped,Plan to Watch,Total Entries,Rewatched,Episodes Watched
0,1,Xinil,Male,1985-03-04T00:00:00+00:00,California,2004-11-05T00:00:00+00:00,142.3,7.37,1.0,233.0,8.0,93.0,64.0,399.0,60.0,8458.0
1,3,Aokaado,Male,NaN,"Oslo, Norway",2004-11-11T00:00:00+00:00,68.6,7.34,23.0,137.0,99.0,44.0,40.0,343.0,15.0,4072.0
2,4,Crystal,Female,NaN,"Melbourne, Australia",2004-11-13T00:00:00+00:00,212.8,6.68,16.0,636.0,303.0,0.0,45.0,1000.0,10.0,12781.0
3,9,Arcane,NaN,NaN,NaN,2004-12-05T00:00:00+00:00,30.0,7.71,5.0,54.0,4.0,3.0,0.0,66.0,0.0,1817.0
4,18,Mad,NaN,NaN,NaN,2005-01-03T00:00:00+00:00,52.0,6.27,1.0,114.0,10.0,5.0,23.0,153.0,42.0,3038.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731285,1291083,Dolopa,NaN,NaN,NaN,2012-05-06T00:00:00+00:00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731286,1291085,alenrobnik,NaN,NaN,NaN,2012-05-06T00:00:00+00:00,21.4,8.22,16.0,58.0,9.0,1.0,42.0,126.0,0.0,1239.0
731287,1291087,Oblongata,NaN,1993-01-30T00:00:00+00:00,NaN,2012-05-06T00:00:00+00:00,51.3,7.53,38.0,175.0,0.0,9.0,211.0,433.0,2.0,3010.0
731288,1291091,Etnota,NaN,NaN,NaN,2012-05-06T00:00:00+00:00,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
731289,1291097,JuunanaSai,Female,NaN,NaN,2012-05-06T00:00:00+00:00,3.7,9.67,1.0,11.0,0.0,0.0,2.0,14.0,0.0,222.0

In [20]:
table_1 = df_user_details[['Mal ID', 'Username']]
table_1["user_id"] = table_1["Mal ID"]

table_1.drop(columns=['Mal ID'], inplace=True)

table_1.to_csv('/home/arsun/projects/AnimeReview-BLG317/data/processed/users.csv', index=False)

/tmp/ipykernel_19149/1072462606.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_1["user_id"] = table_1["Mal ID"]
/tmp/ipykernel_19149/1072462606.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table_1.drop(columns=['Mal ID'], inplace=True)

In [21]:
# table 2 Anime Information
df_anime_information = pd.read_csv('/home/arsun/projects/AnimeReview-BLG317/data/archive/anime-dataset-2023.csv')

df_anime_information = df_anime_information.rename({'Name': 'anime_name',
                                                     'English name': 'english_name',
                                                     "Other name": 'other_name',
                                                    "Synopsis": "synopsis",
                                                    "Type": "type_anime"}, axis='columns')

df_anime_information = df_anime_information[['anime_id', 'anime_name', 'english_name', 'other_name', 'synopsis', 'type_anime']]

df_anime_information.to_csv('/home/arsun/projects/AnimeReview-BLG317/data/processed/anime_information.csv', index=False)

In [22]:
df_anime_scores = pd.read_csv("/home/arsun/projects/AnimeReview-BLG317/data/archive/users-score-2023.csv")

df_anime_scores.head()

   user_id Username  anime_id             Anime Title  rating
0        1    Xinil        21               One Piece       9
1        1    Xinil        48             .hack//Sign       7
2        1    Xinil       320                  A Kite       5
3        1    Xinil        49        Aa! Megami-sama!       8
4        1    Xinil       304  Aa! Megami-sama! Movie       8

In [23]:
df_anime_scores.drop(columns=["Anime Title"], inplace=True)

df_anime_scores.rename(columns={"rating": "score", "Username": "username"}, inplace=True)

df_anime_scores.head()

df_anime_scores.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/anime_scores.csv", index=False)

In [24]:
df_producers = pd.read_csv("/home/arsun/projects/AnimeReview-BLG317/data/archive/anime-dataset-2023.csv")
df_producers.head()

,anime_id,Name,English name,Other name,Score,Genres,Synopsis,Type,Episodes,Aired,...,Studios,Source,Duration,Rating,Rank,Popularity,Favorites,Scored By,Members,Image URL
0,1,Cowboy Bebop,Cowboy Bebop,カウボーイビバップ,8.75,"Action, Award Winning, Sci-Fi","Crime is timeless. By the year 2071, humanity ...",TV,26.0,"Apr 3, 1998 to Apr 24, 1999",...,Sunrise,Original,24 min per ep,R - 17+ (violence & profanity),41.0,43,78525,914193.0,1771505,https://cdn.myanimelist.net/images/anime/4/196...
1,5,Cowboy Bebop: Tengoku no Tobira,Cowboy Bebop: The Movie,カウボーイビバップ 天国の扉,8.38,"Action, Sci-Fi","Another day, another bounty—such is the life o...",Movie,1.0,"Sep 1, 2001",...,Bones,Original,1 hr 55 min,R - 17+ (violence & profanity),189.0,602,1448,206248.0,360978,https://cdn.myanimelist.net/images/anime/1439/...
2,6,Trigun,Trigun,トライガン,8.22,"Action, Adventure, Sci-Fi","Vash the Stampede is the man with a $$60,000,0...",TV,26.0,"Apr 1, 1998 to Sep 30, 1998",...,Madhouse,Manga,24 min per ep,PG-13 - Teens 13 or older,328.0,246,15035,356739.0,727252,https://cdn.myanimelist.net/images/anime/7/203...
3,7,Witch Hunter Robin,Witch Hunter Robin,Witch Hunter ROBIN (ウイッチハンターロビン),7.25,"Action, Drama, Mystery, Supernatural",Robin Sena is a powerful craft user drafted in...,TV,26.0,"Jul 3, 2002 to Dec 25, 2002",...,Sunrise,Original,25 min per ep,PG-13 - Teens 13 or older,2764.0,1795,613,42829.0,111931,https://cdn.myanimelist.net/images/anime/10/19...
4,8,Bouken Ou Beet,Beet the Vandel Buster,冒険王ビィト,6.94,"Adventure, Fantasy, Supernatural",It is the dark century and the people are suff...,TV,52.0,"Sep 30, 2004 to Sep 29, 2005",...,Toei Animation,Manga,23 min per ep,PG - Children,4240.0,5126,14,6413.0,15001,https://cdn.myanimelist.net/images/anime/7/215...

In [25]:
df_studios = df_producers["Studios"]
df_studios.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/studios.csv", index=False)
df_studios.head()

0           Sunrise
1             Bones
2          Madhouse
3           Sunrise
4    Toei Animation
Name: Studios, dtype: object

In [26]:
df_producers = df_producers["Producers"]
df_producers.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/producers.csv", index=False)
df_producers.head()

0                                        Bandai Visual
1                               Sunrise, Bandai Visual
2                                 Victor Entertainment
3    Bandai Visual, Dentsu, Victor Entertainment, T...
4                                     TV Tokyo, Dentsu
Name: Producers, dtype: object

In [27]:
df_anime = pd.read_csv("/home/arsun/projects/AnimeReview-BLG317/data/archive/anime-dataset-2023.csv")

df_anime.head()
df_anime.columns

Index(['anime_id', 'Name', 'English name', 'Other name', 'Score', 'Genres',
       'Synopsis', 'Type', 'Episodes', 'Aired', 'Premiered', 'Status',
       'Producers', 'Licensors', 'Studios', 'Source', 'Duration', 'Rating',
       'Rank', 'Popularity', 'Favorites', 'Scored By', 'Members', 'Image URL'],
      dtype='object')

In [28]:
df_anime_production = df_anime[["anime_id", "Licensors"]]

df_anime_production.rename(columns={"Licensors": "licensors"}, inplace=True)

df_anime_production.head()

df_anime_production.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/anime_production.csv")
del df_anime_production

/tmp/ipykernel_19149/2411955272.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anime_production.rename(columns={"Licensors": "licensors"}, inplace=True)

In [ ]:
df_metadata = df_anime[["anime_id", "Episodes", "Aired", "Premiered", "Source"]]
df_metadata.columns = df_metadata.columns.str.lower()
df_metadata.to_csv("/home/arsun/projects/AnimeReview-BLG317/data/processed/anime_metadata.csv", index=False)
del df_metadata

In [ ]:
# Extract the anime_id and genres columns
df_anime_genres = df_anime[['anime_id', 'Genres']]

# Rename the columns to match the table schema
df_anime_genres.rename(columns={'Genres': 'genres'}, inplace=True)

# Save the dataframe to a CSV file
df_anime_genres.to_csv('/home/arsun/projects/AnimeReview-BLG317/data/processed/anime_genres.csv', index=False)